* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}


body {
  background-color: #f4f1de;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  text-align: center;
}

.routeMap {
  max-width: 1000px;
}

#map {
  height: 700px;
}


#accounts {
  margin: 15px 10px;
  padding: 20px;
  font-family: 'Quicksand';
  text-align: center;

}

#contact {
  margin: 15px 10px;
  padding: 20px;
  font-family: 'Quicksand';
  text-align: center;
}

#direction {
  padding: 20px 15px;
  margin: 20px;
  font-family: 'Quicksand';
  align-items: center;
}

.directions {
  font-family: 'Quicksand';
  font-size: medium;
}

h2 {
  font-family: 'Quicksand';
  border: 6px #81b29a groove;
}

h3 {
  font-family: 'Quicksand';
  margin: 20px 10px;
}


footer {
  padding: 15px 10px 15px 10px;
  border-top: 2px solid #3d405b;
  margin-top: 50%;
  display: flex;
  justify-content: right;
  font-family: 'Nunito Sans', sans-serif;
}

.img {
  width: 50%;
  height: 50%;
  padding: 20px;
  margin: 20px;
}

.Logo {
  display: inline-flex;
  font-family: 'Quicksand';
  font-size: xx-large;
  color: #e07a5f;
  padding: 10px 15px;
}

nav>i {
  padding: 1rem;
  font-size: 2em;
  color: #81b29a;
}

nav>ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 0;
  background-color: #f2cc8f;
  border: #3d405b 1px solid;
}

nav>ul>li {
  list-style-type: none;
  display: flex;
  padding: 3px 8px;
  margin: 3px;
  font-family: 'Quicksand';
  font-size: large;
}


@media (max-width: 549px) {
  .hidden--mobile {
    display: none !important;
  }
}

@media (min-width: 550px) {
  nav>ul {
    display: flex;
    justify-content: space-evenly;
    background-color: #f2cc8f;
    flex-direction: row;
    padding: 10px 10px;
  }

  .nav-links a:hover {
   color: #e07a5f;
  }

  nav>.fa-bars {
    display: none;
  }
}
