* {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: large;
  /* border: 1px solid black; */
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  text-decoration: none;
}

body {
  background-color: #f4f1de;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  text-align: center;
}

footer {
  padding: 15px 10px 15px 10px;
  border-top: 2px solid #3d405b;
  margin-top: 75%;
  display: flex;
  justify-content: right;
}

img {
  width: 50%;
  height: 50%;
  padding: 20px;
  margin: 20px;
}

.navigation {
  display:flex;
  position: absolute;
width: 10rem;
}

.navigation .sidebar {
  width: 180px;
  height: auto;
  background: #f2cc8f;
  padding: 30px 10px;
  text-align: center;
  margin-bottom: 15px;
  margin-right: 10px;
}

.navigation .sidebar ul li{
  padding: 30px;
  border-bottom: 1px solid #3d405b;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  display: flex;

}

.navigation .sidebar ul li a{
  color:#e07a5f;
  width: 600px;
  display: flex;
  justify-content: space-evenly;
  font-size: medium;
  max-width: 5em;
  padding: 1px 2px 1px 2px;
}

.nav-links > li > a{
  border: 1px solid black;
}

.navigation .sidebar ul li:hover {
  background-color: #e07a5f;
}

.navigation .sidebar ul li:hover a {
  color: #3d405b;
}


@media (min-width: 549px){
  .fa-solid.fa-bars {
    display: none !important;
  }

