* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}


 body {
  background-color: #f4f1de;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  text-align: center;
}

.routeMap {
  max-width: 1000px;
}

#map {
  height: 600px;
}



#directions {
  display: flex;
align-items: center;
font-family: 'Nunito Sans', sans-serif;
font-size: large;
padding: 10px 15px;
margin: 20px;
}

.direc{
  align-items: center;
  padding: 20px;
}

footer {
  padding: 15px 10px 15px 10px;
  border-top: 2px solid #3d405b;
  margin-top: 50%;
  display: flex;
  justify-content: right;
  font-family: 'Nunito Sans', sans-serif;
}

img {
  width: 50%;
  height: 50%;
  padding: 20px;
  margin: 20px;
}

.Logo {
display: inline-flex;
font-family: 'Quicksand';
font-size: larger;
color:#e07a5f;
}
nav > i {
  padding: 1rem;
  font-size: 2em;
  color: #81b29a;
}

nav > ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 0;
  background-color: #f2cc8f;
  border: #3d405b 1px solid;
}

nav > ul > li {
  list-style-type: none;
  display: flex;
  padding: 3px 8px;
  margin: 3px;
}

@media (min-width: 550px) {
  nav > ul {
    display: flex;
    justify-content: space-evenly;
    background-color: #f2cc8f;
    flex-direction: row;
    padding: 10px 10px;
  }

  .hidden--mobile a:hover{
    background-color: #e07a5f;
    color:#3d405b;
    align-items: center;
    padding: 10px 10px;
  }

  nav > .fa-motorcycle {
    display: none;
  }

  @media (max-width: 549px){
    .hidden--mobile {
      display: none !important;
      display: flex;
    }










